# Исключаем виртуальное окружение Python
venv/

# Исключаем кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем временные файлы редакторов
*.swp
*.swo

# Исключаем системные файлы macOS и Windows
*.DS_Store
Thumbs.db

# Исключаем файлы логов
*.log

# Исключаем файлы баз данных SQLite
*.sqlite3

# Исключаем резервные файлы, обычно создаваемые текстовыми редакторами
*~
conf/
